h1.title {
	color: #CFE0F9;
	margin-top: 0px;
}

h1.frontTitle {
	padding-top: 30vh;
	/* font-family: 'Saira Semi Condensed', sans-serif; */
}

.FrontPageButton {
	display: inline-flex;
    flex-direction: column;	
}

#FrontButton {
	margin: 1em 0;
}