.createNewGameWrapper {
	display: flex;
	justify-content: center;
}

h1.title {
	color: #CFE0F9;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.createNewGameForm {
	text-align: left;
	width: 80vw;
}

.createNewGameH2 {
	color: white;
	font-size: 1em;
	margin-right: 3em;
	font-family: 'Roboto', sans-serif;
}

.createNewGameForm ul {
	color: white;
	padding-left: 0;
	font-size: 1.2em;
}

input {
	height: 3em;
	outline: none;
	font-size: 0.8em;
}

textarea {
	height: 3em;
	outline: none;
	font-size: 100%;
}

.selectColor {
	color: #CFE0F9;
	background: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 0.8em;
}

.selectColor * {
 color: #283654;
 width: 5em;
}

.inputTitle {
	width: 100%;
}

.inputScenario {
	width: 100%;
	height: 5em;
}

.inputComment {
	width: 100%;
	height: 7em;
}

input:focus {
	border-color: rgb(202, 86, 202);
	outline: none;
}

textarea:focus {
	border-color: rgb(202, 86, 202);
	outline: none;
}

.membersList {
	list-style: none;
}

.removeButton {
	background: #CFE0F9;
	border: #CFE0F9 solid 1px;
	outline: none;
	color: #283654;
	margin: 0.5em;
	font-size: 0.8em;
}

.removeButton:hover {
	background: #283654;
	color: #CFE0F9;
	border:#283654 solid 1px;
}

.addMemberButton {
	display: block;
    margin-top: 0.5em;
	color: #CFE0F9;
	background: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 1.1em;
}

.addButton {
	text-align: center;
}

.error-message {
	color: rgb(221, 47, 47);
	margin-top: 0.2em;
}

@media screen and (min-width: 769px){
	.createNewGameForm {
		width: 60vw;
	}
}
		
@media screen and (max-width: 768px){

}
	
	
@media screen and (max-width:640px){

}