.gameListsWrapper {
	display: flex;
	justify-content: center;
}


h1.title {
	color: #CFE0F9;
}

.gameLists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	width: 90vw;
}


.gameListCard {
	border: solid #CFE0F9 1px;
	background-color: #CFE0F9;
	margin: 0.5em;
	padding: 0.2em;
	border-radius: 1em;
	max-width: 50vw;
}

.gameListCard h1{
	color: #283654;
}
.gameListCard p{
	color: #283654;
}

