.gameDetailsWrapper {
	display: flex;
    justify-content: center;
}

h1.title {
	color: #CFE0F9;
}

.gameDetails {
	width: 80vw;
	padding: 2em
}

.gameDetails h1, p {
	color: white;
	font-family: 'Roboto', sans-serif;
}

.gameDetailsScenario {
	text-align: left;
	overflow-wrap: anywhere;
}

.gameMemberAndPoints {
	text-align: left;
}

.gameMemberAndPoints p{
	display: inline;
	padding-right: 0.7em;
}

.gameTotalTime {
	text-align: left;
}

.gameComment {
	text-align: left;
	overflow-wrap: anywhere;
}

@media screen and (min-width: 769px){
	.gameDetails {
		width: 60vw;
	}
}