.App {
  text-align: center;
  /* background: rgb(22,30,40);
  background: linear-gradient(90deg, rgba(22,30,40,1) 39%, rgba(110,45,160,1) 84%, rgba(76,69,190,1) 89%, rgba(0,121,255,1) 100%); */
  background: rgb(34,86,195);
  background: linear-gradient(0deg, rgba(34,86,195,1) 1%, rgba(16,75,100,1) 47%, rgba(6,8,45,0.9640231092436975) 95%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

